/* ADD YOUR STYLES HERE */

/* Use of crazy long selectors was an exercise in not making classes */

/*# 6   Horizontally spaced*/
.horizontal {
    text-align: center;
    padding: 25px;
}
#center {
    margin: 0 auto;
   
}
#center > * {
    float:left;
    
}

/*#7 Vertically Spaced*/
.vertical-inner img,
.vertical-inner p,
.vertical-inner ol{
    padding: 150px 20px;
    display:block;    
    float:left;
}

/*#8 Horizontal list*/
.instruction-answer ul:nth-child(1){
    list-style:none;
}
.instruction-answer ul:nth-child(1) li{
    float:left;
}


/*#9 Buttons*/
#buttons a:nth-child(n),
#buttons input[type="button"],
#buttons input[type="submit"]
{
    background-color: #ED828A;
    border:none;
    color:white;
    display: inline-block;
    padding: 30px 64px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius:4px;
    
}

#buttons a:nth-child(2),
#buttons input[type="button"]{
    padding: 10px 24px;    
}

#buttons a:nth-child(3),
#buttons input[type="submit"]{
    padding: 8px 16px;   
}

/*#10 navigation */
.navigation ul{
    margin:0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
    padding: 25px 20px;
    background: orangered;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation li:hover {
    background-color:yellow;    
}

.navigation li:first-child {
    border-radius: 4px 0 0 10px;    
}

.navigation li:last-child {
    border-radius: 0 4px 4px 0;
}

/* #11 Pagination */
#pagination,
#pagination a{
    color: pink;
    text-decoration:none;
    list-style-type: none; 
}

#pagination li{
    display: inline-block;
    padding: 10px 15px;
    border-bottom: solid 3px pink;
}

#pagination li:nth-child(5){
    color: gray;
    border-bottom: solid 3px gray;
}

#pagination li:first-child,
#pagination li:last-child{
    border-bottom: 0;
}

/*12 Comment Steam */
#comments-style > div,
#comments-style > div > div > div{
    clear:both;
}

#comments-style > div > div {
    position:relative;
}

#comments-style >div >div > div{
    position: relative;
    left: 90px;
    top: -20px;
    margin-bottom:50px;
}

#comments-style > div div:first-child {
    float:left;
}

time{
    color: gray;
    font-size: 11px;
    
}

/* 13 tabs */
#tabs {
    position: relative;
    min-height: 300px
}

#tabs li {
    float: left;
    padding: 10px 10px;
    border: 0.5px solid blue;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-width: 0;
    margin: 0 15px 0 0;
}

#tabs a {
    color: blue;
}

#selected{
    position: relative;
    top: 1px;
    background-color: white;
    z-index:9;
}

#tab-content {
    border: 0.5px solid blue;
    clear: both;
    position: absolute;
    top: 55px;
    border-radius: 5px;
    padding: 10px;
}


