/* ADD YOUR STYLES HERE */

/* Use of crazy long selectors was an exercise in not making classes */

/*# 6   Horizontally spaced*/

ol li:first-child .instruction-answer {
    border:red 1px solid;
    position: relative;
    width: 100%;
   
    
}

ol li:first-child .instruction-answer div{
    border: black 1px solid;
}

ol li:first-child .instruction-answer div > :nth-child(n) {
    display: block;
    justify-content: center;
    border: green 1px solid;
    padding: 10px;
}

/*ol li .instruction-answer img, */
/*ol li .instruction-answer p {*/
/*    padding: 10px;*/
/*}*/

/*#7 Vertically Spaced*/


/*#8 Horizontal list*/
.instruction-answer ul:nth-child(1){
    list-style:none;
}
.instruction-answer ul:nth-child(1) li{
    float:left;
}


/*#9 Buttons*/
#buttons a:nth-child(n),
#buttons input[type="button"],
#buttons input[type="submit"]
{
    background-color: #ED828A;
    border:none;
    color:white;
    display: inline-block;
    padding: 30px 64px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius:4px;
    
}

#buttons a:nth-child(2),
#buttons input[type="button"]{
    padding: 10px 24px;    
}

#buttons a:nth-child(3),
#buttons input[type="submit"]{
    padding: 8px 16px;   
}

/*#10 navigation */
.navigation ul{
    margin:0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
    padding: 25px 20px;
    background: orangered;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation li:hover {
    background-color:yellow;    
}

.navigation li:first-child {
    border-radius: 4px 0 0 10px;    
}

.navigation li:last-child {
    border-radius: 0 4px 4px 0;
}

/* #11 Pagination */
#pagination {
    
}

/*12 Comment Steam */
#comment-style {
    
}

/* 13 tabs */
